data.csv
models/phi-1_5.pt
main.ipynb
__pycache__/model.cpython-311.pyc
models/checkpoint-1000/model.safetensors
models/checkpoint-1000/optimizer.pt
models/checkpoint-1000/rng_state.pth
models/checkpoint-1000/scheduler.pt
models/checkpoint-1000/special_tokens_map.json
models/checkpoint-1000/tokenizer_config.json
models/checkpoint-1000/trainer_state.json
models/checkpoint-1000/training_args.bin
models/checkpoint-1000/vocab.txt
models/checkpoint-2000/model.safetensors
models/checkpoint-2000/optimizer.pt
models/checkpoint-2000/rng_state.pth
models/checkpoint-2000/scheduler.pt
models/checkpoint-2000/special_tokens_map.json
models/checkpoint-2000/tokenizer_config.json
models/checkpoint-2000/trainer_state.json
models/checkpoint-2000/training_args.bin
models/checkpoint-2000/vocab.txt
models/model.safetensors
